<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Salary Calculator</title>
	<style type="text/css">
	label{
		display : block;
	}
	#divResult{
		font-size: 24pt;
		color : red;
	}
	</style>
	<script src="angular.js"></script>
	<script>
	var calculator = {
			basic : 0,
			hra : 0,
			da : 0,
			tax : 0,
			salary : 0,
			calculate : function(){
				var gross = parseInt(this.basic) + parseInt(this.hra) + parseInt(this.da);
				var net = gross * ((100-parseInt(this.tax))/100);
				this.salary = net;
			}
		}
	function salaryCalculatorController($scope,$http){
		console.dir($http);
		$scope.calculator = calculator;
		window.scope = $scope;
	}
	</script>
</head>
<body ng-app>
	<h3>Salary Calculator</h3>
	<hr>
	<div ng-controller="salaryCalculatorController">
		<div><label for="">Basic :</label>
		<input type="text" name="" id="txtBasic" ng-model="calculator.basic"></div>
		<div><label for="">HRA :</label>
		<input type="text" name="" id="txtHra" ng-model="calculator.hra"></div>
		<div><label for="">DA :</label>
		<input type="text" name="" id="txtDa" ng-model="calculator.da"></div>
		<div>
			<label for="">Tax :</label>
			<input type="range" name="" id="rangeTax" min="0" max="50" value="0" ng-model="calculator.tax">
			<span id="spanTax">{{calculator.tax}}</span>
		</div>
		<div><input type="button" value="Calculate" id="btnCalculate" ng-click="calculator.calculate()"></div>
		<div>
			<div id="divResult">{{calculator.salary | currency}}</div>
		</div>

	</div>
</body>
</html>